<div class="movie-card card h-100">
    <img src="@Movie.PosterPath" class="card-img-top" alt="Movie Poster"/>

    <div class="card-body border border-top">
        <div class="card-title fw-bold ln-1">
            @Movie.Title
        </div>
        <div class="card-text lh-1 fst-italic">
            @{
                var parsed = DateTime.TryParse(Movie.ReleaseDate, out var releaseDate);
            }

            Release Date: @(parsed? releaseDate.ToString("MMMM dd, yyyy") : "Unknown")
        </div>
    </div>
    <div class="movie-card-footer card-footer d-flex justify-content-between">
        <button class="btn btn-outline-primary">Add Fav</button>
        <a href="movie-detail" class="btn btn-primary">More Info</a>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Movie? Movie { get; set; }
}