.movie-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.03);
    z-index: 99;
}

.movie-card-footer .btn {
    font-size: .9rem;
}