<div class="card h-100">
    <img src="~/img/poster.png" class="card-img-top" alt="Movie Poster"/>

    <div class="card-body border border-top">
        <div class="card-title fw-bold ln-1">
            Movie Title
        </div>
        <div class="card-text lh-1 fst-italic">
            Release Date: 10/11/2025
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-outline-primary">Add Fav</button>
        <a href="movie-detail" class="btn btn-primary">More Info</a>
    </div>
</div>

@code {

}