@using System.Threading.Tasks
@inject FavouritesService favouritesService

<div class="movie-card card h-100">
    <img src="@movie.PosterPath" class="card-img-top" alt="Movie Poster"/>

    <div class="card-body border border-top">
        <div class="card-title fw-bold ln-1">
            @movie.Title
        </div>
        <div class="card-text lh-1 fst-italic">
            @{
                var parsed = DateTime.TryParse(movie.ReleaseDate, out var releaseDate);
            }

            Release Date: @(parsed? releaseDate.ToString("MMMM dd, yyyy") : "Unknown")
        </div>
    </div>
    <div class="movie-card-footer card-footer d-flex justify-content-between">
        <button class="btn btn-outline-primary" @onclick="ToggleFavourite">
            @(isFavourite ? "Remove Fav" : "Add Fav")
        </button>
        <a href="movie-detail" class="btn btn-primary">More Info</a>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Movie? movie { get; set; }

    private bool isFavourite { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        if (movie != null)
        {
            isFavourite = await favouritesService.IsFavouriteAsync(movie.Id);
        }
    }

    private async Task ToggleFavourite()
    {
        if (movie == null)
        {
            return;
        }

        await favouritesService.AddToFavouritesAsync(movie);
    }
}