@page "/"
@inject IJSRuntime JS
@layout HomeLayout

<PageTitle>Home</PageTitle>

<div class="h-100 d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-xl-2 container-xxl h-100">
        <div class="col d-flex flex-column justify-content-xl-center order-last order-xl-first">
            <div class="title">MoviePro</div>
            <div class="sub-title">
                MoviePro is an application that uses data from the 
                <a href="https://www.themoviedb.org/" target="_blank" class="link-warning" >The Movie Database (TMDb)</a> API.
                It lets you explore movies currently playing in theaters, check out titles trending among TMDb users,
                build a personal list of your favourite movies, and easily search for movies by title.
            </div>
            <div class="mt-3">
                <h3>Try it out now!</h3>
                <div class="hstack gap-2">
                    <a href="now-playing" class="btn btn-primary">Now Playing</a>
                    <a href="popular" class="btn btn-primary">Popular</a>
                    <a href="favourites" class="btn btn-primary">Favourites</a>
                </div>
            </div>
            <div class="mt-3">
                Built with pride using:
                <div class="hstack my-2">
                    <div><i class="devicons devicon-csharp-plain me-1"></i></div>
                    <div><i class="devicons devicon-blazor-plain me-1"></i></div>
                    <div><i class="devicons devicon-bootstrap-plain me-1"></i></div>
                    <div><i class="devicons devicon-html5-plain me-1"></i></div>
                    <div><i class="devicons devicon-css3-plain me-1"></i></div>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <img src="/img/landing-page-logo.png" class="img-fluid" />
        </div>
    </div>
</div>