@page "/now-playing"

@inject TmdbService tmdbService

<PageTitle>Now Playing</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-film text-primary"></i>
        Now Playing
    </h1>
    <p class="lead italic">
        Movies that are currently playing in theaters
    </p>

    @if (nowPlayingMovies == null)
    {
        <div class="d-flex justify-content-center align-items-center">
            @if (isLoading)
            {
                <h2 class="text-muted">Loading Now Playing Movies...</h2>
            }
            else
            {
                <h2 class="text-danger">Failed to load Now Playing Movies</h2>
            }
        </div>
    }
    else
    {
        <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
            @foreach (var movie in nowPlayingMovies.Results)
            {
                <div class="col">
                    <MovieCard Movie="movie" />
                </div>
            }
        </div>
    }
</div>

@code {
    private MovieListResponse? nowPlayingMovies;
    private bool isLoading = true;

    // Only runs once
    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            nowPlayingMovies = await tmdbService.GetNowPlayingMoviesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            isLoading = false;
        }
    }
}