@page "/now-playing"
@using System.Net.Http.Json
@using System.Text.Json

@inject HttpClient http
@inject IConfiguration config

<PageTitle>Now Playing</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-film text-primary"></i>
        Now Playing
    </h1>
    <p class="lead italic">
        Movies that are currently playing in theaters
    </p>

    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
        @if (nowPlayingMovies == null)
        {
            <div class="d-flex justify-content-center align-items-center">
                @if (isLoading)
                {
                    <h2 class="text-muted">Loading Now Playing Movies...</h2>
                }
                else
                {
                    <h2 class="text-danger">Failed to load Now Playing Movies</h2>
                }
            </div>
        }
        else
        {
            @foreach (var movie in nowPlayingMovies.Results)
            {
                <div class="col">
                    <MovieCard Movie="movie" />
                </div>
            }
        }
    </div>
</div>

@code {
    private MovieListResponse? nowPlayingMovies;
    private string? tmdbAccessKey;
    private bool isLoading = true;

    private readonly JsonSerializerOptions jsonSerializerOptions = new()
    {
        PropertyNamingPolicy = JsonNamingPolicy.SnakeCaseLower
    };

    // Only runs once
    protected override async Task OnInitializedAsync()
    {
        tmdbAccessKey = config["TmdbAccessKey"];

        if (!string.IsNullOrEmpty(tmdbAccessKey))
        {
            string url = "https://api.themoviedb.org/3/movie/now_playing?language=en-US";
            string baseImageUrl = "https://image.tmdb.org/t/p/w500";

            http.DefaultRequestHeaders.Authorization = new ("Bearer", tmdbAccessKey);

            var response = await http.GetFromJsonAsync<MovieListResponse>(url, jsonSerializerOptions) 
                           ?? throw new HttpIOException(HttpRequestError.InvalidResponse, "Failed to retrieve now playing movies");

            foreach (var movie in response.Results)
            {
                if (!string.IsNullOrEmpty(movie.PosterPath))
                {
                    movie.PosterPath = $"{baseImageUrl}{movie.PosterPath}";
                }
                else
                {
                    movie.PosterPath = "img/poster.png";
                }
            }

            nowPlayingMovies = response;
        }
    }
}